<html>
<head>
    <title>用户列表</title>
    <link rel="stylesheet" href="/css/main.css">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div id="global">
    <fieldset>
        <legend>用户列表:</legend>

        <table width="100%" border=0>
            <tr>
                <td>ID</td>
                <td>username</td>
                <td>birthday</td>
                <td>sex</td>
                <td>address</td>
            </tr>

            #foreach($user in $users)
                <tr>
                    <td>${user.id}</td>
                    <td>${user.name}</td>
                    <td>${user.birthday}</td>
                    #if(${user.sex} == 1)
                        <td>男</td>
                    #else
                        <td>女</td>
                    #end
                    <td>${user.address}</td>
                </tr>
            #end
        </table>
    </fieldset>
</div>
</body>
</html>