<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qunar.qparenting.dao.CollectDao">

    <resultMap id="BaseResultMap" type="com.qunar.qparenting.model.bean.CollectBean">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="article_id" property="articleId" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="collect_time" property="collectTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, article_id, user_name, collect_time
    </sql>

    <select id="selectByArticleIdAndUserName" resultType="java.lang.Integer">
        select
        count(id)
        from q_collect
        where article_id = #{param1,jdbcType=INTEGER} and user_name = #{param2,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByArticleIdAndUserName">
        delete from q_collect
        where article_id = #{param1,jdbcType=INTEGER} and user_name = #{param2,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.qunar.qparenting.model.bean.CollectBean">
        insert into q_collect (id, article_id, user_name,
        collect_time)
        values (#{id,jdbcType=INTEGER}, #{articleId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR},
        #{collectTime,jdbcType=TIMESTAMP})
    </insert>

    <select id="selectUserNames" parameterType="int" resultType="java.lang.String">
        select user_name from q_collect where article_id=#{articleId}
    </select>

    <select id="selectCollectedNumber" resultType="java.lang.Integer">
        SELECT count(*) FROM q_collect WHERE user_name = #{userName}
    </select>

</mapper>