<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qunar.qparenting.dao.SubscribeDao">
    <resultMap id="BaseResultMap" type="com.qunar.qparenting.model.bean.SubscribeBean">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="topic_id" property="topicId" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="subscribe_time" property="subscribeTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, topic_id, user_name, subscribe_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from q_subscribe
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from q_subscribe
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.qunar.qparenting.model.bean.SubscribeBean">
        insert into q_subscribe (id, topic_id, user_name,
        subscribe_time)
        values (#{id,jdbcType=INTEGER}, #{topicId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR},
        #{subscribeTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.qunar.qparenting.model.bean.SubscribeBean">
        insert into q_subscribe
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="topicId != null">
                topic_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="subscribeTime != null">
                subscribe_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="topicId != null">
                #{topicId,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="subscribeTime != null">
                #{subscribeTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.qunar.qparenting.model.bean.SubscribeBean">
        update q_subscribe
        <set>
            <if test="topicId != null">
                topic_id = #{topicId,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="subscribeTime != null">
                subscribe_time = #{subscribeTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.qunar.qparenting.model.bean.SubscribeBean">
        update q_subscribe
        set topic_id = #{topicId,jdbcType=INTEGER},
        user_name = #{userName,jdbcType=VARCHAR},
        subscribe_time = #{subscribeTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="subscriptionNumber" resultType="java.lang.Integer" parameterType="java.lang.String">
        select count(*) from q_subscribe
        where user_name = #{userName}
    </select>

    <insert id="insertOrderRecord" parameterType="java.util.Map">
        insert into q_subscribe (topic_id ,user_name)
        values ( #{topicId}, #{userName} )
    </insert>

    <select id="selectOrderRecord" resultType="Integer" parameterType="java.util.Map">
        select
        count(*)
        from q_subscribe
        where user_name = #{userName,jdbcType=VARCHAR} and topic_id =#{topicId}
    </select>

    <select id="queryReaderListByTopicId" resultType="String" parameterType="java.util.Map">
        select
        user_name
        from q_subscribe
        where topic_id =#{topicId}
    </select>


    <select id="queryOrderById" resultType="Integer" parameterType="java.util.Map">
        select
        count(*)
        from q_subscribe
        where topic_id = #{topicId}
    </select>

    <delete id="deleteOrderByTopicId" parameterType="java.util.Map">
        delete from q_subscribe
        where topic_id = #{topicId,jdbcType=INTEGER}
    </delete>

    <delete id="deleteOrderRecord" parameterType="java.util.Map">
        delete from q_subscribe
        where topic_id = #{topicId,jdbcType=INTEGER} and user_name = #{userName}
    </delete>


    <select id="queryOrderByUserName" resultType="Integer" parameterType="java.util.Map">
        select
        topic_id
        from q_subscribe
        where user_name = #{userName,jdbcType=VARCHAR}
    </select>


</mapper>