<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qunar.qparenting.dao.UserDao">

    <resultMap id="BaseResultMap" type="com.qunar.qparenting.model.bean.UserBean">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="user_head" property="userHead" jdbcType="VARCHAR"/>
        <result column="user_role" property="userRole" jdbcType="TINYINT"/>
        <result column="email_push_type" property="emailPushType" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_name, user_head, user_role, email_push_type
    </sql>

    <select id="selectByUserName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from q_user
        where user_name = #{userName,jdbcType=VARCHAR}
    </select>

    <select id="selectCountByUserName" resultType="java.lang.Integer" parameterType="java.lang.String">
        select
        count(*)
        from q_user
        where user_name = #{userName,jdbcType=VARCHAR}
    </select>

    <insert id="insert" parameterType="com.qunar.qparenting.model.bean.UserBean">
    insert into q_user (id, user_name, user_head, 
      user_role, email_push_type)
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userHead,jdbcType=VARCHAR}, 
      #{userRole,jdbcType=TINYINT}, #{emailPushType,jdbcType=TINYINT})
  </insert>

    <insert id="insertSelective" parameterType="com.qunar.qparenting.model.bean.UserBean">
        insert into q_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="userHead != null">
                user_head,
            </if>
            <if test="userRole != null">
                user_role,
            </if>
            <if test="emailPushType != null">
                email_push_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userHead != null">
                #{userHead,jdbcType=VARCHAR},
            </if>
            <if test="userRole != null">
                #{userRole,jdbcType=TINYINT},
            </if>
            <if test="emailPushType != null">
                #{emailPushType,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.qunar.qparenting.model.bean.UserBean">
    update q_user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_head = #{userHead,jdbcType=VARCHAR},
      user_role = #{userRole,jdbcType=TINYINT},
      email_push_type = #{emailPushType,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>