<!DOCTYPE html>
<html>
<head>
	<meta name="name" content="content" charset='utf-8'>
	<title>userAgent</title>
	<style>
	.tip{
		width: 1000px;
		height: 300px;
		background: url('http://source.qunar.com/internal/qunar_babay/q.jpg') no-repeat ;
		padding-top: 100px;
		margin: 200px auto;
	}
	.tip-content{
		margin-left: 300px;
		color: #555;
		display: block;
		font-size: 26px;
	}
	</style>
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
</head>
<body>
	<div id='tip' class="tip">
		<span class="tip-content">更换最新的
		<a href="http://dlsw.baidu.com/sw-search-sp/soft/9d/14744/ChromeStandaloneSetup.1409816011.exe">chrome</a>
		浏览器吧，安慰一下我受伤的心灵</span>
	</div>
</body>
</html>