<?xml version="1.0" encoding="UTF-8" ?>

<configuration scan="true" scanPeriod="300 seconds">

    <property name="log_dir" value="${catalina.base}/logs"/>

    <!-- added by arthur.wang 增加了E-mail报警appender -->
    <appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
        <smtpHost>mail.corp.qunar.com</smtpHost>
        <to>arthur.wang@qunar.com</to>

        <!-- 可以定义更多的发送目标 -->
        <to>arthur.wang@qunar.com</to>


        <from>arthur.wang@qunar.com</from>
        <subject>QParenting报警邮件</subject>

        <!-- 采用HTML渲染方式，可以自定义CSS -->
        <layout class="ch.qos.logback.classic.html.HTMLLayout">
            <!--不写，采用默认格式 -->
            <pattern>%date%level%thread%message</pattern>
        </layout>
        <!-- 这里可以用来设定缓冲区 -->
        <cyclicBufferTracker class="ch.qos.logback.core.spi.CyclicBufferTracker">
            <!-- send just one log entry per email -->
            <bufferSize>64</bufferSize>
        </cyclicBufferTracker>
    </appender>

    <appender name="cos_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log_dir}/qparenting.qunar.%d{yyyy-MM-dd-HH}.log</FileNamePattern>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>$%d{MM-dd HH:mm:ss.SSS} %-5p %-20c{2} [%.11t] [%X{domain}] - %m%n</pattern>
        </layout>
    </appender>

    <!-- 控制台输出日志 -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss.SSS} %-5p %-20c{2} [%.11t] [%X{domain}] - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <logger level="TRACE" name="com.qunar.qparenting">
        <appender-ref ref="cos_log"/>
    </logger>

    <logger level="ERROR" name="com.qunar.qparenting">
        <appender-ref ref="EMAIL"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>
</configuration>