<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"
       default-autowire="byName">

    <bean id="fooService" class="com.qunar.qparenting.service.impl.ArticleServiceImpl"/>
    <bean id="commentService" class="com.qunar.qparenting.service.impl.CommentServiceImpl"/>
    <bean id="messageService" class="com.qunar.qparenting.service.impl.MessageServiceImpl"/>
    <bean id="topicService" class="com.qunar.qparenting.service.impl.TopicServiceImpl"/>
    <bean id="userService" class="com.qunar.qparenting.service.impl.UserServiceImpl"/>

</beans>
